<h1>Input Booking Kamar</h1>
<table width="100%">
	<form method="POST" action="/booking">
		<tr>
			<td>
			<label>Id Booking</label>
			</td>
			<td>
			<input type="text" name="idbooking" placeholder="Id Booking">
			</td>
		</tr>	
	<h2>Data Kamar</h2>
		<tr>
			<td>
			<input type="text" name="id" id="id" value="{{data._id}}">
			<label>Nomor Kamar</label>
			</td>
			<td>
			<input type="text" name="nokamar"  id="nokamar" value="{{data.nokamar}}" >
			</td>
		</tr>
		<tr>
			<td>
			<label>Kelas</label>
			</td>
			<td>
			<input type="text" name="kelas"  value="{{data.kelas}}">
			</td>
		</tr>
		<tr>
			<td>
			<label>Harga (per malam)</label>
			</td>
			<td>
			<input type="text" name="harga"  value="{{data.harga}}">
			</td>
		</tr>
		<tr>
			<td>
			<label>Check In</label>
			</td>
			<td>
			<input type="text" name="checkin" placeholder="Check In" >
			</td>
		</tr>
		<tr>
			<td>
			<label>Check Out</label>
			</td>
			<td>
			<input type="text" name="checkout" placeholder="Check Out" >
			</td>
		</tr>
	<tr>
	<td><h2>Data Tamu</h2></td>
	</tr>
		<tr>
			<td>
			<label>Tipe Id</label>
			</td>
			<td>
			<input type="text" name="tipeId" placeholder="Tipe Identitas" >
			</td>
		</tr>
		<tr>
			<td>
			<label>Nomor Identitas</label>
			</td>
			<td>
			<input type="text" name="nomorId" placeholder="Nomor identitas">
			</td>
		</tr>
		<tr>
			<td>
			<label>Nama</label>
			</td>
			<td>
			<input type="text" name="nama" placeholder="Nama">
			</td>
		</tr>
		<tr>
			<td>
			<label>Alamat</label>
			</td>
			<td>
			<input type="text" name="alamat" placeholder="Alamat">
			</td>
		</tr>
		<tr>
			<td>
			<label>Telepon</label>
			</td>
			<td>
			<input type="text" name="telp" placeholder="Nomor Telepon">
			</td>
		</tr>
		<tr>
			<td>
				<button type="submit"type="submit" >Simpan</button>
				<button type="submit"type="reset" >Reset</button>
			</td>
		</tr>
	</form>
</table>

