<h1>Kamar</h1>
<table width="100%">
<form method="POST" action="/kamar">
	<tr>
		<td>
		<input type="text" name="id" id="id" value="{{selectkamar._id}}">
		</td>
		<td>
		<input type="text" name="nokamar" id="nokamar" placeholder="No Kamar" value="{{selectkamar.nokamar}}" >
		</td>
		<td>
		<input type="text" name="kelas" placeholder="Kelas" value="{{selectkamar.kelas}}">
		</td>
		<td>
		<input type="text" name="harga" placeholder="Harga" value="{{selectkamar.harga}}">
		</td>
		<td>
		<button type="submit"type="submit" >Simpan</button>
		<button type="submit"type="reset" >Reset</button>
		</td>
	</tr>
</form>
</table><br><br>

<table width="100%">
	<thead>
		<tr>
			<th>No</th>
			<th>Kamar</th>
			<th>Kelas</th>
			<th>Harga</th>
			<th>Aksi</th>
		</tr>
	</thead>
	<tbody>
		{{#each datakamar}}
		<tr>
			<td>{{@index}}</td>
			<td>{{this.nokamar}}</td>
			<td>{{this.kelas}}</td>
			<td>{{this.harga}}</td>
			<td>
				<a href="/kamar/{{this._id}}">Edit</a>
				<a href="/kamar/delete/{{this._id}}" >Hapus</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>



<script type="text/javascript">
	function tutup(){
		document.getElementById("nokamar").disabled="true";
	}

	function buka(){
		document.getElementById("nokamar").disabled="false";
	}


</script>
