<h1>Search Kamar</h1>
<table width="100%">
<form method="GET" action="/kamar/:in/:out">
	<tr>
		<td>
		<input type="date" name="in" placeholder="Check In"  >
		</td>
		<td>
		<input type="date" name="out" placeholder="Check Out">
		</td>
		<td>
		<button type="submit"type="submit" >Cari</button>
		<button type="submit"type="reset" >Reset</button>
		</td>
	</tr>
</form>
</table><br><br>

<table width="100%">
	<thead>
		<tr>
			<th>No</th>
			<th>Kamar</th>
			<th>Kelas</th>
			<th>Harga</th>
			<th>Aksi</th>
		</tr>
	</thead>
	<tbody>
		{{#each datakamar}}
		<tr>
			<td>{{@index}}</td>
			<td>{{this.nokamar}}</td>
			<td>{{this.kelas}}</td>
			<td>{{this.harga}}</td>
			<td>
				<a href="/booking/{{this._id}}">Booking</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>

